form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  header {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
label {
    background: #dedede;
    margin: 2% 0;
    width: 299px;
    line-height: 35px;
    height: 35px;
    border-radius: 4px;
    padding: 1% 0px 1% 12px;
    text-transform: capitalize;
}
button{
    padding: 1.5%;
    margin: 2% 0 2% 0;
    border-radius: 3px;
    width: 309px;
    color: white;
    background-color: black;
    height: 44px;
    border: none;
    box-sizing: border-box; 
    color: chocolate;
    cursor: pointer;
}

.addBookk{
    margin-left: 92px;
}

button:hover{
    transform: scale(0.9);
    cursor: pointer;

}

#myForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top:46px;
    z-index: 999;
    align-items: stretch;
    margin-left: 325px;
   

}
#myForm button{
    background-color: black;
    color: white;
    font-weight: 700;
    opacity: .6;
    background-color:chocolate;
    width: 100px;

}

#svghum button svg{
    /* position: absolute; */
    margin-right: -210px;
     width: 3.1rem;
     cursor: pointer;
    /* height: 100px;  */
    
}


.container button{
    color: white;
    background-color: chocolate;
    width: 220px;
}
.container button a{
    text-decoration: none;
    color: white;

}
