h1 {
    margin: 2% 2%;
    font-size: 1.3em;
    padding-bottom: 2%;
    padding: 2% 0 5% 0;
}
input[type="radio"] {
    float: right;
    margin-right: 74%;
    margin-top: 4.5%;
    background-color: white;
    color: white;
    line-height: 35px;
}
.fa-primary {
    color: rgb(245, 253, 253);
  }
  .fa-secondary {
    color: rgb(232, 255, 255);
  }
  

  svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .nav {
    margin-top: 3.5%;
}
h2 {
    margin: 0;
    padding: 4% 0 4% 0;
    font-size: 0.9em;
    text-align: center;
    background: #545454;
    color: white;
    margin-bottom: 6%;
}
input[type="text"] {
    padding: 1.5%;
    margin: 2% 0 2% 0;
    border-radius: 3px;
    width: 309px;
    color: black;
    font-weight: bold;
    height: 44px;
    border: none;
    box-sizing: border-box;
}

.footer {
    background-color: black;
    width: 100%;
    margin-bottom: 0;
    bottom: 0%;
    margin-top: 8%;
    height: 65px;
    position: sticky;
}
.footer1 {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 159.1%;
    height: 65px;
}
img {
    border: 10px solid white;
    margin: 1%;
    width: 150px;
    height: 212px;
}
.container {
    background-color: rgb(209, 210, 210);
    margin: auto;
    padding: 2% 5% 2% 5%;
    width: 61%;
    margin-top: 13%;
    display: flex;
    border-radius: 2px;
    box-shadow: 5px 4px 6px grey, inset 2px -4px 6px grey;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}

.icon-ello:before {
    content: "\eab6";
  }

  .title {
      color: white;
      text-shadow: 1px 1px #525050;
  }
.auth {
    margin-bottom: 2%;
    margin-top: 1%;
}
.desc {
    margin-bottom: 10%;
}
/* fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffff */

  
  
  .box {
    margin-left: 30%;
    margin-top: 1%;
    position: absolute;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    z-index: 9999;
  }
  
  .button {
    font-size: 1em;
    padding: 1px;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
 
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
  }
  
  .popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 40%;
    position: relative;
    /* transition: all 5s ease-in-out; */
  }
  
 
  .popup .close {
    position: absolute;
    top: 7px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: chocolate;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  